option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

files:
  "/etc/awslogs/config/web.stdout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/web.stdout.log]
      file = /var/log/web.stdout.log
      log_group_name = /eb-nodejs/web.stdout
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

  "/etc/awslogs/config/web.error.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/web.error.log]
      file = /var/log/web.error.log
      log_group_name = /eb-nodejs/web.error
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

commands:
  01_restart_awslogs:
    command: "systemctl restart awslogs"
