<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <!-- הוספת ה-Service של Firebase בתוך ה-application -->
        <service
            android:name="com.example.pushnotificationsdk.PushNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- הוספת Activity למסך ההרשמה של ה-SDK -->
        <activity android:name="com.example.pushnotificationsdk.NotificationSignupActivity" />
        <!-- הוספת Activity למסך היסטוריית ההודעות של ה-SDK -->
        <activity android:name="com.example.pushnotificationsdk.NotificationHistoryActivity" />

        <activity android:name="com.example.pushnotificationsdk.SettingsActivity" />


    </application>

</manifest>
